@use "../styles/screen";

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  .search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--color-blue-dark);
    border: 1px solid var(--color-blue-light);
    border-radius: var(--radius-100);
    .label {
      display: flex;
      align-items: center;
    }
    .input {
      height: 100%;
      border: none;
      border-radius: 0 var(--radius-100) var(--radius-100) 0;
      background-color: var(--color-blue-dark);
      font-size: var(--font-size-100);
      line-height: 1;
      padding: var(--space-200);
      &::placeholder {
        color: var(--color-offwhite);
        font-family: var(--font-poppins);
      }
    }
  }
  .controls {
    display: flex;
    gap: var(--space-200);
    align-items: center;
    @include screen.is-small {
      flex-direction: column;
    }
    .tags {
      display: flex;
      gap: var(--space-100);
      overflow-y: hidden;
      overflow-x: auto;
      padding: var(--space-100);
      max-width: 100%;
    }
    .select {
      position: relative;
      display: flex;
      flex: 1;
      @include screen.is-small {
        width: 100%;
      }
      .input {
        flex: 1;
        border: none;
        border-radius: 0 var(--radius-100) var(--radius-100) 0;
        background-color: var(--color-blue-dark);
        font-size: var(--font-size-100);
        line-height: 1;
        padding: var(--space-300);
        padding-left: 40px;
        max-width: 200px;
        appearance: none; /* Modern browsers */
        -webkit-appearance: none; /* Safari/Chrome */
        -moz-appearance: none; /* Firefox */
        @include screen.is-small {
          max-width: initial;
        }
      }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
      }
      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(90deg);
        position: absolute;
        top: 8px;
        right: 8px;
        pointer-events: none;
        background-color: var(--color-blue-mid);
        width: 24px;
        height: 24px;
        border: 1px solid var(--color-blue-soft);
        border-radius: var(--radius-100);
        box-shadow: 0 0 2px 4px var(--color-blue-dark);
        svg {
          width: 24px;
          height: 24px;
          transform: scale(1.25);
        }
      }
    }
  }
  .category {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-300);
    // border: 1px solid yellow;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        display: flex;
        align-items: center;
        gap: var(--space-100);
        font-weight: var(--font-medium);
      }
    }
    .slider {
      display: flex;
      gap: var(--space-200);
      padding-top: var(--space-300);
      overflow-x: hidden;
      // border: 1px solid pink;
      .link {
        transition: all 100ms ease-in-out;
        &:hover {
          transform: translateY(-8px);
        }
      }
    }
  }
}
