@use "../styles/screen";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-blue-dark);
  padding: var(--space-600);
  border-radius: var(--radius-100);
  .title {
    font-size: var(--font-size-200);
    font-weight: var(--font-bold);
    color: white;
    min-width: max-content;
  }
  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-100);
  }
  .button {
    max-width: 200px;
  }
  @include screen.smaller-than(1100px) {
    flex-direction: column;
    gap: var(--space-300);
    padding: var(--space-300);
    .title {
      text-align: center;
    }
    .button {
      max-width: 100%;
    }
  }
}
